.footer {
    margin-top: 80px;
    height: 200px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #0f0f0f;
}

.footer__image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 14px;
    margin-top: 15px;
    color: #5d5d5d;
    font-weight: normal;
    font-family: "Raleway";
}
