html,
body,
main {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.header,
.header .menu ul,
.header .search {
    display: flex;
}

.header {
    height: 170px;
}

.header__logo {
    margin-left: 2.3%;
}

li {
    list-style-type: none;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
    border-bottom: 6px solid #e8e8e8;
}

.header .menu .menu__item {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: lowercase;
    margin: 0 35px;
    transition: 300ms;
}

.header .menu .menu__link:hover {
    color: #fff;
    background-color: #00b0ff;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.search {
    padding-right: 2.3%;
}
