.architecture-aims {
    font-family: "Raleway";
    font-weight: bold;
}

.architecture-aims .architecture-aims__number {
    margin-left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
    width: 190px;
    background: #97d1eb;
    font-size: 72px;
    color: #ffffff;
    text-align: center;
}
