.architecture-aims {
    font-weight: bold;
    position: relative;
    font-family: "Raleway";
}

.architecture-aims .architecture-aims__image {
    z-index: -1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.architecture-aims .architecture-aims__image img {
    width: 70.5%;
}

.architecture-aims__content {
    top: 0;
    left: 7%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
}

.architecture-aims .architecture-aims__content .architecture-aims__slider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.architecture-aims .architecture-aims__content .architecture-aims__slider .architecture-aims-slider__button {
    width: 72px;
    height: 73px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #eff1f5;
}

.architecture-aims .architecture-aims__content .architecture-aims__slider .architecture-aims-slider__number {
    width: 193px;
    height: 193px;
    display: flex;
    font-size: 72px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    background: #97d1eb;
    justify-content: center;
}

.architecture-aims .architecture-aims__content .architecture-aims__quote {
    max-width: 800px;
    margin-left: 4.7%;
}

.architecture-aims .architecture-aims__content .architecture-aims__quote .architecture-aims-quote__author {
    font-size: 18px;
    font-weight: 400;
    color: #bcc0cd;
}

.architecture-aims .architecture-aims__content .architecture-aims__quote .architecture-aims-quote__text {
    color: #000;
    font-size: 92px;
    margin-top: 40px;
    padding-bottom: 47px;
    border-bottom: 15px solid #97d1eb;
}

.architecture-aims .architecture-aims__page {
    bottom: 3%;
    left: 13.3%;
    position: absolute;
}

.architecture-aims .architecture-aims__page ul {
    display: flex;
}

.architecture-aims .architecture-aims__page ul .architecture-aims-page__item {
    margin: 0 5px;
    font-size: 18px;
    transition: 300ms;
    padding: 7px 10px;
    text-transform: lowercase;
}

.architecture-aims .architecture-aims__page ul .architecture-aims-page__item a {
    color: #e8e8e8;
    text-decoration: none;
}

.architecture-aims .architecture-aims__page ul .selected a,
.architecture-aims .architecture-aims__page ul .architecture-aims-page__item a:hover {
    color: #000;
    text-decoration: line-through;
}

.architecture-ideas {
    margin-top: 65px;
    position: relative;
}

.architecture-ideas .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.architecture-ideas .wrapper .architecture-idea {
    margin-left: 10%;
    max-width: 700px;
}

.architecture-ideas .wrapper .architecture-idea .architecture-idea__title {
    font-size: 72px;
    color: #bcc0cd;
    font-weight: bold;
    font-family: "Raleway";
}

.architecture-ideas .wrapper .architecture-idea .architecture-idea__text {
    font-size: 14px;
    color: #9ca2b4;
    padding-top: 44px;
    line-height: 48px;
    font-family: "Montserrat";
}

.architecture-ideas .wrapper .architecture-ideas__title {
    font-size: 92px;
    max-width: 500px;
    font-weight: bold;
    margin-right: 18%;
    font-family: "Raleway";
}

.architecture-ideas .architecture-ideas__image {
    z-index: -1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.architecture-ideas .architecture-ideas__image img {
    width: 33.15%;
}

.keywords {
    display: flex;
    margin-top: 133px;
}

.keywords .keywords__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keywords .keywords-item__image {
    display: contents;
}

.keywords .keywords__item .keywords-item__image img {
    width: 100%;
}

.keywords .selected .keywords-item__image img {
    outline-offset: -30px;
    outline: 15px #97d1eb solid;
}

.keywords .keywords__item .keywords-item__title {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    font-family: "Raleway";
}

.howwework {
    position: relative;
    justify-content: center;
}

.howwework .howwework__image {
    z-index: -1;
}

.howwework .howwework__image img {
    width: 100%;
}

.howwework .howwework-content {
    top: 0;
    position: absolute;
    width: 100%;
}

.howwework .howwework-content .howwework-content__title,
.howwework .latest-project-content .latest-project__title {
    text-transform: uppercase;
    font-size: 16px;
    color: #97d1eb;
    letter-spacing: 6px;
    height: 100px;
    font-family: "Raleway";
    display: flex;
    justify-content: center;
    align-items: center;
}

.howwework .howwework-content .howwework-content__title span,
.howwework .latest-project-content .latest-project__title span {
    position: relative;
}

.howwework .howwework-content .howwework-content__title span:before,
.howwework .howwework-content .howwework-content__title span:after,
.howwework .latest-project-content .latest-project__title span:before,
.howwework .latest-project-content .latest-project__title span:after {
    content: "";
    height: 10px;
    width: 190px;
    position: absolute;
    border-bottom: 1px solid #97d1eb;
}

.howwework .howwework-content .howwework-content__title span:before,
.howwework .latest-project-content .latest-project__title span:before {
    right: 100%;
    margin-right: 15px;
}

.howwework .howwework-content .howwework-content__title span:after,
.howwework .latest-project-content .latest-project__title span:after {
    margin-left: 15px;
}

.howwework .howwework-content .howwework-content__items {
    display: flex;
    justify-content: center;
}

.howwework .howwework-content .howwework-content__items .howwework-content__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.howwework .howwework-content .howwework-content__items .howwework-content__item .howwework-content-item__number {
    opacity: 0.5;
    color: #fff;
    font-size: 222px;
    font-weight: bold;
    line-height: 160px;
    text-shadow: 10px 1px 50px gray;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.howwework .howwework-content .howwework-content__items .howwework-content__item .howwework-content-item__text {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    font-family: "Raleway";
}

.howwework .latest-project {
    bottom: 0;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.howwework .latest-project .latest-project-content {
    width: 75%;
    bottom: -35px;
    position: relative;
    background: #fff;
}

.howwework .latest-project .wrapper {
    display: flex;
    align-items: center;
}

.howwework .latest-project .wrapper .latest-project__image {
    left: -33%;
    display: contents;
}

.howwework .latest-project .wrapper .latest-project__image img {
    width: 66.67%;
    left: -16.67%;
    position: relative;
}

.howwework .latest-project .latest-project-content .wrapper .latest-project__description {
    right: 0;
    top: auto;
    display: flex;
    max-width: 40%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
}

.howwework .latest-project .latest-project-content .wrapper .latest-project__description .description__title {
    font-size: 48px;
    font-weight: bold;
    font-family: "Raleway";
}

.howwework .latest-project .latest-project-content .wrapper .latest-project__description .description__text {
    font-size: 14px;
    color: #9ca2b4;
    line-height: 48px;
    font-family: "Montserrat";
}

.howwework .latest-project .latest-project-content .wrapper .latest-project__description .description__button {
    width: 184px;
    height: 51px;
    font-size: 14px;
    cursor: pointer;
    color: #9ca2b4;
    font-weight: bold;
    background-color: #fff;
    font-family: "Montserrat";
    text-transform: uppercase;
    border: 1px solid #e9ecf2;
}

.howwework .latest-project .latest-project-content .wrapper .latest-project__description .description__button:hover {
    color: #97d1eb;
}

.howwework .latest-project .latest-project-content .wrapper .latest-project__description .description__number {
    right: -25%;
    opacity: 0.05;
    color: #000;
    font-size: 489px;
    font-weight: bold;
    position: absolute;
    font-family: "Raleway";
}

.social-networks {
    top: 130px;
    position: relative;
}

.social-networks hr {
    margin: 0 100px;
    border-top: 1px solid #eff1f5;
}

.social-networks .social-networks-items {
    display: flex;
    margin-top: 85px;
    align-items: center;
    justify-content: center;
}

.social-networks .social-networks-items .social-networks__item {
    width: 12.5%;
    text-align: center;
}

.contactus {
    top: 250px;
    position: relative;
    margin-bottom: 200px;
}

.contactus .contactus__image {
    display: flex;
    margin-right: 12.5%;
    justify-content: flex-end;
}

.contactus .contactus__image img {
    width: 35%;
}

.contactus .wrapper {
    top: 100px;
    height: 70%;
    margin-left: 10%;
    position: relative;
}

.contactus .contactus__form {
    top: 0;
    width: 75%;
    height: 100%;
    position: absolute;
    margin-left: 12.5%;
    outline-offset: -45px;
    outline: 15px #97d1eb solid;
}

.contactus .contactus__form .wrapper .contactus-form__items {
    display: flex;
}

.contactus .contactus__form .wrapper .contactus-form__items .contactus-form__item {
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #bcc0cd;
    font-weight: bold;
    margin-right: 20px;
    padding-bottom: 2px;
    letter-spacing: 2.5px;
    font-family: "Raleway";
    background-color: #fff;
    text-transform: uppercase;
}

.contactus .contactus__form .wrapper .contactus-form__items .selected,
.contactus .contactus__form .wrapper .contactus-form__items .contactus-form__item:hover {
    color: #97d1eb;
}

.contactus .contactus__form .wrapper .contactus-form__items .selected {
    border-bottom: 1px solid #c1e3f3;
}

.contactus .contactus__form .wrapper .contactus-form__items .contactus-form__item:focus {
    outline: none;
}

.contactus .contactus__form .wrapper .contactus-form__inputs {
    height: 100%;
    display: flex;
    max-width: 50%;
    flex-direction: column;
}

.contactus .contactus__form .wrapper .contactus-form__inputs .contactus-form__input input,
.contactus .contactus__form .wrapper .contactus-form__inputs .contactus-form__input textarea {
    width: 100%;
    border: none;
    margin-top: 20px;
    font-family: "Raleway";
    border-bottom: 1px solid #eeeff2;
}

.contactus .contactus__form .wrapper .contactus-form__inputs .contactus-form__input-primary input {
    font-size: 36px;
}

.contactus .contactus__form .wrapper .contactus-form__inputs .contactus-form__input-secondary textarea {
    font-size: 24px;
}

.contactus .contactus__form .wrapper .contactus-form__inputs .contactus-form__input input::placeholder,
.contactus .contactus__form .wrapper .contactus-form__inputs .contactus-form__input textarea::placeholder {
    color: #e6e7ec;
}

.contactus .contactus__form .wrapper .contactus-form__button {
    bottom: 0;
    width: 184px;
    height: 51px;
    cursor: pointer;
    font-size: 14px;
    color: #9ca2b4;
    font-weight: bold;
    position: absolute;
    align-self: center;
    background-color: #fff;
    font-family: "Montserrat";
    text-transform: uppercase;
    border: 1px solid #e9ecf2;
}

.contactus .contactus__form .wrapper .contactus-form__button:hover {
    color: #97d1eb;
}
