.architecture-aims {
    background-image: url(../img/museum.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
    height: 70%;
    font-weight: bold;
    font-family: "Raleway";
}

.architecture-aims__content {
    height: 95%;
    display: flex;
    margin-left: 7%;
    align-items: center;
}

.architecture-aims .architecture-aims__content .architecture-aims__slider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.architecture-aims .architecture-aims__content .architecture-aims__slider .architecture-aims-slider__button {
    width: 72px;
    height: 73px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #eff1f5;
}

.architecture-aims .architecture-aims__content .architecture-aims__slider .architecture-aims-slider__number {
    width: 193px;
    height: 193px;
    display: flex;
    font-size: 72px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    background: #97d1eb;
    justify-content: center;
}

/* .architecture-aims .architecture-aims__image {
    left: 29.5%;
    z-index: -1;
    height: 70.5%;
    position: absolute;
} */

.architecture-aims .architecture-aims__content .architecture-aims__quote {
    max-width: 700px;
    margin-left: 3.1%;
}

.architecture-aims .architecture-aims__content .architecture-aims__quote .architecture-aims-quote__author {
    font-size: 18px;
    font-weight: 400;
    color: #bcc0cd;
}

.architecture-aims .architecture-aims__content .architecture-aims__quote .architecture-aims-quote__text {
    color: #000;
    font-size: 92px;
    margin-top: 40px;
    padding-bottom: 47px;
    border-bottom: 15px solid #97d1eb;
}

.architecture-aims .architecture-aims__page {
    height: 5%;
    margin-left: 13.3%;
}

.architecture-aims .architecture-aims__page ul {
    display: flex;
}

.architecture-aims .architecture-aims__page ul .architecture-aims-page__item {
    font-size: 18px;
    text-transform: lowercase;
    padding: 7px 10px;
    margin: 0 5px;
    transition: 300ms;
}

.architecture-aims .architecture-aims__page ul .architecture-aims-page__item a {
    color: #e8e8e8;
    text-decoration: none;
}

.architecture-aims .architecture-aims__page ul .selected a,
.architecture-aims .architecture-aims__page ul .architecture-aims-page__item a:hover {
    text-decoration: line-through;
    color: #000;
}
